<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
 
<button type="button" class="menu-button" id="menu-button">
    <div class = "container" onclick="animateBarButton(this)" >
    <div class="bar1 hamburger"></div>
    <div class="bar2 hamburger"></div>
    <div class="bar3 hamburger"></div>
    </div>
</button> 

<ol>
    <% postList.results.forEach(function(post) {%>
        <li class="postCard">
            <img alt = "post image" src = <%= post.imageUrl %> class="post-image">
            <img src=<%= post.postedBy.profileImageUrl %> class="profile-pic" alt = "profile image">
            <div class="username">
             <%= post.postedBy.username %>
            </div>
            <div class="date">
                <%= format(post.createdAt, "dd-MM-yyyy") %>
            </div>
           <div>
            <%= post.message %> 
           </div>

        </li>
    <% }); %>
</ol>
<div class="load-buttons-div">
<%if (postList.previous) { %>
    <button>
    <a href="<%= postList.previous %> "class="Load-btn">Previous</a>
    </button>
<% } %>
<%if (postList.next) { %>
    <button >
    <a href="<%= postList.next %>" class="Load-btn">Load More</a>
</button>
<% } %>
<button type="button" class="Load-btn" id="color-button">Go Colour Crazy</button>
</div>
</body>
<%- include('_footer') -%>
</html>
