<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>


<body>
<h1>MyFace</h1>
<p> <%= postList.results[0].likedBy.username %> </p>
<ol>
    <% postList.results.forEach(function(post) {%>
        <li>
            <img src=<%= post.postedBy.profileImageUrl %> class="profile-pic" alt = "profile image">

            <div>
            Username: <%= post.postedBy.username %>
            </div>
           <div>

            <%= post.message %> 
            <br>
            <br> 
            <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %>
           </div>

            <img alt = "post image" src = <%= post.imageUrl %> class="post-image">
            <br>

           <!-- Liked by: < %= post.likedBy[0].username %> -->

           <br>
        </li>
    <% }); %>
</ol>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>
